.mainBody{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
}
.mapDiv{
    display:flex;
    height: 90vh;
    width: 85%;
}
.chargerContainer{
    display: flex;
    flex-direction: column;
    width:15%;
    height:90vh;
}