.mainDiv{
  display:flex;
  flex-direction: column;
  height:100vh;
  width:100%;
  margin:0;
  padding:0;
  overflow-y: scroll;
}
.chargerDiv{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  border:1px solid black;
}
.chargerDiv:hover{
  background-color:lightblue;
}
.singleCharger{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
}
.chargerStatus{
  border: 1px solid black;
  height: 49px;
  width:49px;
  line-height: 49px;
  text-align: center;
}
.statusGrid{
  display:grid;
  grid-template-columns: 50px 50px;
  height:100px;
  width:100px,
}
.hover:hover{
  background-color:lightblue;
  cursor: pointer;
}

.singleChargerGrid{
  display:flex;
  flex-direction: column;
}
.chargerStatusCode{
  border: 1px solid black;
  height: 49px;
  width:49px;
  line-height: 49px;
  text-align: center;
}
.chargerStatusCode:hover{
  background-color:lightblue;
}