.marker{
  display:flex;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: red;
  border-radius: 10px;
}
.hidden{
  display: none;
  background-color: white;
  width: 75px;
  height: 50px;
  border-radius: 5px;

}
.marker:hover +.hidden{
  display:flex;
    text-align: center;
}
